<template>
  <v-row justify="center">
    <v-snackbar
      top
      v-model="snackbar"
      :color="snackbarColor"
      :timeout="timeout"
      shaped
    >
      <div class="text-center">
        {{ text }}
      </div>
    </v-snackbar>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Register</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
              ></v-text-field>
              <v-text-field
                v-model="registerName"
                :rules="nameRules"
                label="name"
                required
              ></v-text-field>
              <v-text-field
                v-model="password"
                :rules="passwordRules"
                label="password"
                required
                type="password"
              ></v-text-field>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="onRegisterClick">
            Register
          </v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import provider from "../providers/main.provider";
export default {
  name: "regis-dialog",
  data: () => ({
    valid: true,
    name: "",
    dialog: false,
    registerName: "",
    registerEmail: "",
    password:'',
    nameRules: [
      (v) => !!v || "required",
      (v) => (v && v.length <= 10) || "name must be less than 10 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    passwordRules: [
      (v) => !!v || "required",
      (v) => (v && v.length >= 4) || "password must be less than 4 characters",
    ],
    snackbar: false,
    text: "test",
    timeout: 4000,
    snackbarColor: "success",
  }),

  methods: {
    open() {
      this.dialog = true;
    },
    close() {
      this.dialog = false;
    },
    showSnackbar(message, color) {
      this.snackbar = true;
      this.snackbarColor = color;
      this.text = message;
    },
    async onRegisterClick() {
      if (this.$refs.form.validate()) {
        try {
          const result = await provider.createUser(
            this.email,
            this.registerName,
            this.password
          );
          this.close();
          // this.email = "";
          // this.name = "";
          this.showSnackbar(result, "success");
        } catch (err) {
          this.close();
          this.showSnackbar(err.data, "error");
        }
      }
    },
  },
};
</script>

<style>
</style>