<template>
  <v-app>
   
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import provider from "./providers/main.provider";
export default {
  name: "App",

 
  components: {},
  data: () => ({
    //
  }),
  methods: {
 
  },
};
</script>
