
<style lang="css" scoped>
.fill-hight {
  height: 100%;
}
.section1 {
  height: 70%;
}
.section2 {
  height: 30%;
}
.usersList {
  height: 80%;
}
.scrol {
  overflow: scroll;
}
.ov-hide {
  overflow: hidden;
}
</style>
<template>
  <div>
    <v-app-bar app color="primary" dark>
      Vapulus

      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-if="getUser" icon @click="openDocs" v-bind="attrs" v-on="on">
            <v-icon>mdi-book</v-icon>
          </v-btn>
        </template>
        <span>Docs</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-if="getUser" icon @click="logout" v-bind="attrs" v-on="on">
            <v-icon>mdi-arrow-left-bold-box</v-icon>
          </v-btn>
        </template>
        <span>Logout</span>
      </v-tooltip>
    </v-app-bar>
    <v-container class="fill-hight flex-column" style="height: 800px">
      <v-row class="section1">
        <v-col cols="9" class="scrol fill-hight">
          <v-card dens flat v-for="(message, i) in messages" :key="i">
            <v-card-title>{{ message.name }} </v-card-title>
            <v-card-text>
              {{ message.text }}
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="3" class="fill-hight">
          <v-card class="fill-hight scrol">
            <v-card flat v-for="(user, i) in users" :key="i">
              <v-card-text> {{ user.name }} : {{ user.email }} </v-card-text>
            </v-card>
          </v-card>
        </v-col>
      </v-row>

      <v-row class="white section2">
        <v-col cols="10">
          <v-textarea
            v-model="messageText"
            name="input-7-1"
            label="chat"
            hint="Hint text"
            outlined
          ></v-textarea>
        </v-col>
        <v-col class="align-center fill-hight" cols="2">
          <v-btn color="warning" :disabled="!connected" @click="submitMessage">
            Send
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import io from "socket.io-client";
import provider from "../providers/main.provider";

export default {
  name: "Home",
  data: () => ({
    connected: false,
    messageText: "message",
    users: [],
    messages: [
    ],
  }),

  mounted: function () {
    console.log("mounted", this.$store.state.user.token);
    this.socket = io(process.env.VUE_APP_BACKEND_URL, {
      transports: ["websocket"],
      query: {
        email: this.$store.state.user.email,
        name: this.$store.state.user.name,
      },
      auth: {
        token: this.$store.state.user.token,
      },
    });
    this.socket.on("connect", () => {
      console.log("socker connected");
      this.connected = true;
    });
    this.socket.on("usersList", (data) => {
      this.getUserList(data);
    });
    this.socket.on("latestMessages", (data) => {
      this.setCurrentMessages(data);
    });
    this.socket.on("new-message", (data) => {
      this.messages.push(data);
    });
    this.socket.on("disconnect", (data) => {
      this.connected = false;
      console.log("socker disconnected");
    });
  },
  methods: {
    getUserList(data) {
      this.users = [...data];
    },
    setCurrentMessages(data) {
      this.messages = [...data];
    },
    submitMessage() {
      this.socket.emit("message", this.messageText);
      this.messageText= null;
    },
    logout() {
      this.$store.commit("removeUser");
      this.$router.go(0);
    },
    openDocs() {
      console.log(provider.getDocumentUrl);
      window.open(provider.getDocumentUrl(), "_blank");
    },
  },
  computed: {
    getUser: function () {
      console.log(this.$store.state.user);
      return this.$store.state.user && this.$store.state.user.token;
    },
  },
};
</script>
