<template>
  <v-container>
    <v-card>
      <v-card-text>
        <v-form ref="form" v-model="valid">
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            required
          ></v-text-field>

          <v-text-field
            v-model="password"
            :rules="passwordRules"
            label="password"
            required
            type="password"
          ></v-text-field>

          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="onLoginClick"
          >
            Login
          </v-btn>
          <v-btn color="warning" @click="openRegisterForm"> register </v-btn>
        </v-form>
      </v-card-text>
      <v-alert border="top" color="red lighten-2" v-if="err" dark>
        {{ err }}
      </v-alert>
      <LoginConponent ref="loginComponent" />
    </v-card>
  </v-container>
</template>
<script>
import LoginConponent from "../components/register.dialog.vue";
import provider from "../providers/main.provider";
export default {
  name: "login-view",
  components: {
    LoginConponent,
  },
  data: () => ({
    registerDialog: false,
    valid: true,
    password: "",
    name: "",
    dialog: false,
    passwordRules: [(v) => !!v || "required"],
    nameRules: [
      (v) => !!v || "required",
      (v) => (v && v.length <= 4) || "name must be less than 10 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    err: "",
  }),

  methods: {
    openRegisterForm() {
      this.$refs["loginComponent"].open();
    },
    async onLoginClick() {
      try {
        if (this.$refs.form.validate()) {
          const userDate = await provider.userLogin(this.email, this.password);
          this.$store.commit("setUser", userDate);
          this.$router.replace("/");
        }
      } catch (err) {
        this.err = err.data;
      }
    },
  },
};
</script>

<style>
</style>