<template>
  <v-container>
    <v-snackbar v-model="snackbar" :timeout="timeout">
      {{ text }}
    </v-snackbar>
    <v-card>
      <v-card-title v-if="email">
        email : {{ email }} - user : {{ name }}
      </v-card-title>

      <v-alert border="top" color="red lighten-2" v-if="err" dark>
        {{ err }}
      </v-alert>
      <v-card-text v-if="!err">
        <v-form ref="form" v-model="valid">
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            label="password"
            required
            type="password"
          ></v-text-field>

          <v-text-field
            v-model="passwordConfirm"
            :rules="passwordConfirmRules"
            label="confirm"
            required
            type="password"
          ></v-text-field>

          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="onSubmit"
          >
            submit
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </v-container>
</template>
<script>
import provider from "../providers/main.provider";
export default {
  name: "set-pass",

  data: () => ({
    snackbar: false,
    email: "",
    name: "",
    valid: true,
    password: "",
    err: "",
    passwordConfirm: "",
    passwordRules: [
      (v) => !!v || "required",
      (v) => (v && v.length >= 4) || "password must be less than 4 characters",
    ],
    passwordConfirmRules: [(v) => !!v || "required"],
    text: "",
    timeout: 5000,
  }),
  mounted: async function () {
    const token = this.$route.params.token;
    try {
      const result = await provider.verifyToken(token);
      this.email = result.email;
      this.name = result.name;
    } catch (err) {
      this.err = err.data;
      setTimeout(() => {
        this.$router.replace("/login");
      }, 2000);
    }
  },
  methods: {
    async onSubmit() {
      const token = this.$route.params.token;
      try {
        const result = await provider.creatAccount(token, this.password);
        // this.$store.commit("setUser", result);
        this.snackbar = true;
        this.text = "Done";
        setTimeout(() => {
          this.$router.replace("/login");
        }, 2000);
      } catch (err) {
        this.err = err.data;
      }
    },
  },
};
</script>

<style>
</style>